Makefile
*.o
ui_*
*~
moc_*
concept.pro.user
/Makefile
/concept
/moc_QStreamer.cpp
/moc_camdialog.cpp
/moc_capturefingerdialog.cpp
/moc_capturephotodialog.cpp
/moc_controlpanel.cpp
/moc_finger_thread.cpp
/moc_mainwindow.cpp
/ui_*.h
/*.pdf
templates/*
/enrolled_binarized.pgm
/enrolled_normal.pgm
/*.nvi

/*.applog

